{% load static %}
<!-- Main modal -->
<div id="politic" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto backdrop-blur-xl overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-4xl max-h-full">
        <!-- Modal content -->
        <div class="rounded-xl bg-gray-100 shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-6 md:p-5 ">
                <h3 class="text-xl font-semibold text-gray-900">
                    Политика конфиденциальности<br>(Политика в отношении обработки персональных данных)
                </h3>
                <button type="button"
                    class="text-gray-50 bg-blue-500 transition rounded-lg hover:opacity-80 text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="politic">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <ul class="overflow-auto h-[500px] px-4 text-gray-900 pb-4">
                <li class="font-bold mt-2">1. Общие положения</li>
                <li><span class="font-semibold">1.1. </span>Настоящая политика в отношении обработки персональных данных
                    (далее - Политика) подготовлена в
                    соответствии c требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                    определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных
                    данных Командой CardioIntegro (далее — Оператор).
                </li>
                <li>
                    <span class="font-semibold">1.2. </span>Оператор ставит своей важнейшей целью и
                    условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при
                    обработке
                    его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и
                    семейную
                    тайну.
                </li>
                <li>
                    <span class="font-semibold">1.3. </span>Настоящая Политика применяется ко всей информации, которую
                    Оператор может получить о посетителях
                    веб-сайта https://cardiointegro.ru/
                </li>
                <li class="font-bold mt-2">
                    2. Основные понятия, используемые в Политике
                </li>
                <li>
                    <span class="font-semibold">2.1. </span>Блокирование персональных данных - временное прекращение
                    обработки персональных данных (за
                    исключением случаев, если обработка необходима для уточнения персональных данных)
                </li>
                <li>
                    <span class="font-semibold">2.2. </span>Веб-сайт - совокупность графических и информационных
                    материалов, а также программ для ЭВМ и баз
                    данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://cardiointegro.ru/
                </li>
                <li>
                    <span class="font-semibold">2.3. </span>Обезличивание персональных данных — действия, в результате
                    которых невозможно определить без
                    использования дополнительной информации принадлежность персональных данных конкретному Пользователю
                    или
                    иному субъекту персональных данных;
                </li>
                <li>
                    <span class="font-semibold">2.4. </span>Обработка персональных данных - любое действие (операция)
                    или
                    совокупность действий (операций), совершаемых с персональными данными с использованием средств
                    автоматизации или без использования таких средств, включая сбор, запись, систематизацию, накопление,
                    хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование,
                    удаление, уничтожение персональных данных;
                </li>
                <li>
                    <span class="font-semibold">2.5. </span>Персональные данные - любая информация, относящаяся
                    прямо или косвенно к определенному или определяемому Пользователю веб-сайта;
                </li>
                <li>
                    <span class="font-semibold">2.6. </span>Пользователь - любой
                    посетитель веб-сайта;
                </li>
                <li>
                    <span class="font-semibold">2.7. </span>Уничтожение персональных данных - любые действия, в
                    результате которых
                    персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания
                    персональных данных в информационной системе персональных данных и (или) результате которых
                    уничтожаются
                    материальные носители персональных данных.
                </li>
                <li class="font-bold mt-2">
                    3. Персональные данные, подлежащие обработке
                </li>
                <li>
                    <span class="font-semibold">3.1. </span>Оператор может обрабатывать следующие Персональные данные
                    Пользователя:- фамилия, имя, отчество;-
                    номер телефона;- электронный адрес;- место работы, должность;- любые иные данные (включая
                    биометрические) и/или информация, которые Пользователь добровольно передает Оператору.
                </li>
                <li>
                    <span class="font-semibold">3.2. </span>На Веб-сайте происходит сбор и обработка обезличенных данных
                    о Пользователях (в т.ч. файлов
                    «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика, Гугл Аналитика и других).
                </li>
                <li class="font-bold mt-2">4. Цели обработки персональных данных</li>
                <li>
                    <span class="font-semibold">4.1. </span>Целями обработки Персональных данных являются:-
                    осуществление прямых контактов с субъектом
                    персональных данных (Пользователем) с помощью средств связи и установления обратной связи, в том
                    числе
                    для заключения с Оператором договора по инициативе субъекта персональных данных или договора, по
                    которому субъект персональных данных будет являться выгодоприобретателем;- предоставление доступа
                    Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте;- отправка
                    Пользователю
                    информационных сообщений на адрес электронной почты, посредством мессенджеров и/или иных средств
                    связи;
                </li>
                <li>
                    <span class="font-semibold">4.2. </span>Обезличенные данные Пользователей, собираемые с помощью
                    сервисов интернет-статистики, служат для
                    сбора информации о действиях Пользователей на Веб-сайте, улучшения качества Веб-сайта и его
                    содержания.
                </li>
                <li class="font-bold mt-2">
                    5. Правовые основания обработки персональных данных
                </li>
                <li>
                    <span class="font-semibold">5.1. </span>Оператор обрабатывает персональные данные
                    Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через
                    специальные
                    формы обратной связи, расположенные на Веб-сайте. Заполняя соответствующие формы и/или отправляя
                    свои
                    персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
                </li>
                <li>
                    <span class="font-semibold">5.2. </span>Оператор
                    обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера
                    Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
                </li>
                <li class="font-bold mt-2">
                    6. Порядок сбора, хранения и других видов обработки персональных данных
                </li>
                <li>
                    <span class="font-semibold">6.1. </span>Безопасность персональных
                    данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных
                    и
                    технических мер, необходимых для выполнения в полном объеме требований действующего законодательства
                    в
                    области защиты персональных данных.
                </li>
                <li>
                    <span class="font-semibold">6.2. </span>Оператор обеспечивает сохранность персональных данных и
                    принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
                </li>
                <li>
                    <span class="font-semibold">6.3.</span>
                    Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за
                    исключением случаев, связанных с исполнением действующего законодательства.
                </li>
                <li>
                    <span class="font-semibold">6.4. </span>В случае выявления
                    неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем
                    направления Оператору уведомление на адрес электронной почты Оператора cardiointegro@gmail.com с
                    пометкой «Актуализация персональных данных».
                </li>
                <li>
                    <span class="font-semibold">6.5. </span>Обработка Персональных данных Оператором
                    осуществляется до момента достижения целей, предусмотренных п. 4.1 Политики или до момента отзыва
                    согласия на обработку Персональных данных Пользователем.
                </li>
                <li>
                    <span class="font-semibold">6.6. </span>Пользователь может в любой момент отозвать
                    свое согласие на обработку Персональных данных, направив Оператору уведомление посредством
                    электронной
                    почты на электронный адрес Оператора cardiointegro@gmail.com с пометкой «Отзыв согласия на обработку
                    персональных данных».
                </li>
                <li class="font-bold mt-2">
                    7. Заключительные положения
                </li>
                <li>
                    <span class="font-semibold">7.1. </span>Пользователь может получить любые разъяснения по
                    интересующим вопросам,
                    касающимся обработки его персональных данных, обратившись к Оператору посредством электронной почты
                    cardiointegro@gmail.com.
                </li>
                <li>
                    <span class="font-semibold">7.2. </span>Политика действует бессрочно до замены ее новой версией и
                    публикации на
                    Веб-сайте.
                </li>
            </ul>
        </div>
    </div>
</div>