{% extends "base.html" %}
{% load tailwind_filters %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container mx-auto flex flex-col items-center">
    <p class="text-2xl font-semibold">Восстановление пароля</p>
    <div class="rounded-lg p-6 m-4 border border-gray-200">
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Восстановить" class="mx-auto bg-blue-500 text-white text-lg rounded-lg px-8 py-1.5 hover:opacity-60">
        </form>
    </div>
</div>
{% endblock %} 