{% extends "base.html" %}
{% block title %}Список анализов{% endblock title %}
{% block content %}
<div class="flex flex-col gap-3">
  <p class="text-2xl font-semibold">Мои пациенты</p>
  <p class>В данном разделе вы можете загрузить файлы ЭКГ своего пациента для анализа<br>
    А также вы можете просмотреть индивидуальную историю анализов и отчётов по ним.</p>
</div>
<form method="GET" action="{% url 'analyse:search' %}" class="flex flex-wrap gap-3 my-16"> 
  <input type="text" name="query" placeholder="ФИО пациента" value="{{ query }}" class="rounded-lg border border-gray-200 w-80">
  <button type="submit" class="text-xl text-white bg-blue-500 px-6 py-1.5 rounded-lg hover:opacity-80">Поиск</button>
</form>
<a href="{% url 'analyse:create' %}"
  class="text-xl text-white bg-blue-500 px-6 py-2 rounded-lg hover:opacity-80">Проанализировать ЭКГ</a>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table class="w-full text-left rtl:text-right text-gray-500">
      <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3">
            ФИО пациента
          </th>
          <th scope="col" class="px-6 py-3">
            Дата анализа
          </th>
          <th scope="col" class="px-6 py-3">
            Состояние
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Отчёты</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for analyse in page_obj %}
        {% include 'includes/analyse_table_element.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj.has_other_pages %}
  <div class="max-w-xl min-w-xs mx-auto mt-3">
  <nav>
    <ul class="inline-flex -space-x-px text-base">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 ">Предыдущая</a>
      </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
      <li>
        <span class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-blue-200 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800">{{ i }}</span>
      </li>
      {% else %}
      <li>
        <a href="?page={{ i }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 400">Следующая</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  </div>
  {% endblock content %}